@using LibraryMVC.Resources

@{
    ViewBag.Title = Language_Shared.ChangeLanguage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title:</h2>
<div clas="list-group" style="margin-top: 10px">
    <a href="@Url.Action("Change", "Language", new {language = "en"}, null)" class="list-group-item">
        <p>English</p>
    </a>
    <a href="@Url.Action("Change", "Language", new {language = "pl"}, null)" class="list-group-item">
        <p>Polski</p>
    </a>
    <a href="@Url.Action("Change", "Language", new {language = "cz"}, null)" class="list-group-item">
        <p>český</p>
    </a>
</div>
