@using LibraryMVC.Resources

@{
    ViewBag.Title = Language_Basket.Borrow;
}

<h2>@Language_Basket.BookHasBeenBorrow.</h2>
@Html.ActionLink(Language_MainPage.Home,"Index","Home",null,new {@class="btn btn-default"})
