@using LibraryMVC.Resources
@model LibraryMVC.Models.Book

@{
    ViewBag.Title = "ErrorBookCurrentBorrowed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Language_Basket.ErrorWhileBorrowing:</h2>
<h2>@Language_Books.Book @Model.Title</h2>
<h2>@Language_Basket.BookCurrentlyBorrowed</h2>