@using LibraryMVC.Resources
@model IEnumerable<string>

@{
    ViewBag.Title = Language_WorkerPanel.Roles;
}

<h2>@ViewBag.Title:</h2>

<p>
    @Html.ActionLink(Language_WorkerPanel.CreateNewRole, "CreateNewRole","Users",null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(Language_WorkerPanel.NameRole):
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item)
        </td>
    </tr>
}

</table>
