@model IEnumerable<string>

@{
    ViewBag.Title = "CreateRole";
}

<h2>CreateRole</h2>

<p>
    @Html.ActionLink("Create New", "CreateNewRole","Users")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item)
        </td>
    </tr>
}

</table>
