@{
    ViewBag.Title = "Contact";
}
<h3>For any contact visit or e-mail to us.</h3>

<address>
    Library MVC<br />
    Białystok, 15-351<br />
    Wiejska 45a<br />
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:librarymvcproject@gmail.com">librarymvcproject@gmail.com</a><br />
</address>

<h3>Visit us!</h3>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAFtKKMP9tnVsRmgy3yA5oBnX9nNQBhOn0'>
</script>
<div style='overflow: hidden; height: 460px; width: 100%;'>
    
    <div id='gmap_canvas' style='height: 460px; width: 100%;'>
        
    </div>
    <style>
        #gmap_canvas img {
            max-width: none !important;
            background: none !important;
        }
    </style>
</div> 
<a href='http://maps-generator.com/pl'>Maps-Generator</a>
<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=180edaffaedb21ca2f81d7c709bfb82c76f230cd'></script>
<script type='text/javascript'>
    function init_map() {
         var myOptions = {
              zoom: 16, center: new google.maps.LatLng(53.1167019, 23.14611500000001), mapTypeId: google.maps.MapTypeId.HYBRID
         };
         map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
         marker = new google.maps.Marker({
              map: map, position: new google.maps.LatLng(53.1167019, 23.14611500000001)
         }); infowindow = new google.maps.InfoWindow({ content: '<strong>Library MVC</strong><br>Wiejska 45a<br>15-351 Białystok<br>' });
         google.maps.event.addListener(marker, 'click', function() {
              infowindow.open(map, marker);
         });
         infowindow.open(map, marker);
    } google.maps.event.addDomListener(window, 'load', init_map);
</script>