@using LibraryMVC.Resources

@{
    ViewBag.Title = Language_MainPage.Error;
}

<h2>@ViewBag.Title</h2>

<p>@Language_MainPage.ErrorLong</p>
@Html.ActionLink("Home page","Index","Home",null,new {@class="btn btn-default"})