@using LibraryMVC.Resources
@{
    ViewBag.Title = Language_Account.LoginFailure;
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">@Language_Account.LoginFaliureLong</h3>
</hgroup>
