@using LibraryMVC.Resources
@{
    ViewBag.Title = Language_Account.ResetPC;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Language_Account.YourPasswordHasBeenReset @Html.ActionLink(Language_Account.ClickHereToLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
