@using LibraryMVC.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Language_MainPage.Error;
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h2 class="text-danger">@Language_Shared.ErrorLong</h2>

