@using Microsoft.AspNet.Identity
@model LibraryMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Manage your account</h2>
    

<div clas="col-sm-12">
    <div class="panel panel-default" style="width: 200px;">
        @if (Model.HasPassword)
        {
            <a href="@Url.Action("ChangePassword")">
                <div class="panel-body">
                    <p>Change Password</p>
                </div>
            </a>
        }
        else
        {
            <a href="@Url.Action("SetPassword")">
                <div class="panel-body">
                    <p>Change Password</p>
                </div>
            </a>
        }
    </div>
    <div class="panel panel-default" style="width: 200px;">
        <a href="@Url.Action("UserIndex","Borrows", new { userid = User.Identity.GetUserId() },null)">
            <div class="panel-body">
                <p>Your borrows history</p>
            </div>
        </a>
    </div>
    <div class="panel panel-default" style="width: 200px;">
        <a href="@Url.Action("UserIndex", "SearchHistories", new { userid = User.Identity.GetUserId() }, null)">
            <div class="panel-body">
                <p>Your saved search history</p> 
            </div>
        </a>
    </div>
</div>
