@using Microsoft.AspNet.Identity
@model LibraryMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Manage your account</h2>
    

<div clas="list-group" style="margin-top:10px ">
        @if (Model.HasPassword)
        {
            <a href="@Url.Action("ChangePassword")" class="list-group-item">
                    <p>Change Password</p>
            </a>
        }
        else
        {
            <a href="@Url.Action("SetPassword")" class="list-group-item">
                    <p>Change Password</p>
            </a>
        }
        <a href="@Url.Action("UserIndex","Borrows", new { userid = User.Identity.GetUserId() },null)" class="list-group-item">
                <p>Your borrows history</p>
        </a>
        <a href="@Url.Action("UserIndex", "SearchHistories", new { userid = User.Identity.GetUserId() }, null)" class="list-group-item">
                <p>Your saved search history</p> 
        </a>
</div>
